@model FacturaTallerMVC.Models.Factura

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Factura</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ClienteId" class="control-label">Cliente</label>
                <select asp-for="ClienteId" class ="form-control" asp-items="ViewBag.ClienteId"></select>
            </div>
            <div class="form-group">
                <label asp-for="CocheId" class="control-label">Matricula</label>
                <select asp-for="CocheId" class ="form-control" asp-items="ViewBag.CocheId"></select>
            </div>
            <div class="form-group">
                <label asp-for="RecambioId" class="control-label">Recambio</label>
                <select asp-for="RecambioId" class ="form-control" asp-items="ViewBag.RecambioId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Piezas" class="control-label"></label>
                <input asp-for="Piezas" class="form-control" />
                <span asp-validation-for="Piezas" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TotalPiezas" class="control-label"></label>
                <input asp-for="TotalPiezas" class="form-control" />
                <span asp-validation-for="TotalPiezas" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Trabajos" class="control-label"></label>
                <input asp-for="Trabajos" class="form-control" />
                <span asp-validation-for="Trabajos" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HorasTaller" class="control-label"></label>
                <input asp-for="HorasTaller" class="form-control" />
                <span asp-validation-for="HorasTaller" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TotalHoras" class="control-label"></label>
                <input asp-for="TotalHoras" class="form-control" />
                <span asp-validation-for="TotalHoras" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pvp" class="control-label"></label>
                <input asp-for="Pvp" class="form-control" />
                <span asp-validation-for="Pvp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fecha" class="control-label"></label>
                <input asp-for="Fecha" class="form-control" />
                <span asp-validation-for="Fecha" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
