@model FacturaTallerMVC.Models.Factura

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Factura</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Unidades" class="control-label"></label>
                <input asp-for="Unidades" class="form-control" />
                <span asp-validation-for="Unidades" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pvp" class="control-label"></label>
                <input asp-for="Pvp" class="form-control" />
                <span asp-validation-for="Pvp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Neto" class="control-label"></label>
                <input asp-for="Neto" class="form-control" />
                <span asp-validation-for="Neto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Trabajo" class="control-label"></label>
                <input asp-for="Trabajo" class="form-control" />
                <span asp-validation-for="Trabajo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fecha" class="control-label"></label>
                <input asp-for="Fecha" class="form-control" />
                <span asp-validation-for="Fecha" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
