@model FacturaTallerMVC.Models.Factura

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Factura</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdFactura" />
            <div class="form-group">
                <label asp-for="UnidadesRecambio" class="control-label"></label>
                <input asp-for="UnidadesRecambio" class="form-control" />
                <span asp-validation-for="UnidadesRecambio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TotalRecambio" class="control-label"></label>
                <input asp-for="TotalRecambio" class="form-control" />
                <span asp-validation-for="TotalRecambio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Trabajo" class="control-label"></label>
                <input asp-for="Trabajo" class="form-control" />
                <span asp-validation-for="Trabajo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UnidadesTrabajo" class="control-label"></label>
                <input asp-for="UnidadesTrabajo" class="form-control" />
                <span asp-validation-for="UnidadesTrabajo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TotalTrabajo" class="control-label"></label>
                <input asp-for="TotalTrabajo" class="form-control" />
                <span asp-validation-for="TotalTrabajo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pvp" class="control-label"></label>
                <input asp-for="Pvp" class="form-control" />
                <span asp-validation-for="Pvp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fecha" class="control-label"></label>
                <input asp-for="Fecha" class="form-control" />
                <span asp-validation-for="Fecha" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
